*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    margin:0 auto;
    width:50%;
    height: 55px;
}

.child-flex{
    max-width: 120px;
    background-color: #6e6e6e;
}

.child-flex > a {
    text-decoration: none;
    color: #f1f1f1;
    padding :25px;
     line-height: 55px  ;
}
.child-flex > a:hover{
    background-color:#9c9c9c;
}
.content-ed{
    width:50%;
    margin:0 auto;
    border:1px solid #434343;
}

td,th{
    padding:12px;
    border:1px solid #434343;
}

table{
    border-collapse: collapse;
    margin:20px auto;
}

input[type="submit"]{
   width: 100px;
   height: 35px;
}

input[type="text"]{
   height: 30px;
}

input[type="submit"]:hover{
    cursor: pointer;
}

#datechoose{
    position: absolute;
    
}